h1 {
  color: #482121;
}
.card {
  background-color: transparent;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.card img {
  height: 250px;
  object-fit: cover;
}
.card-title {
  color: #482121;
}
@media only screen and (max-width: 990px) {
  .card img {
    height: 150px;
  }
}
@media only screen and (max-width: 768px) {
  .card img {
    height: 100%;
  }
}
